#root, html, body {
    height: 100vh;
}
body {
    margin: 0;
    background-color: whitesmoke;
}
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
h5{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.cardDesc {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}